.login-style{
    max-width: 700px;
    padding: 30px 10px;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 10px;
}

.login-style .button-style{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(41, 46, 41);
    color: #fff;
    transition: 0.2s;
}
.login-style .button-style:hover{
    box-shadow: 5px 5px 10px #444;
}